/* html,body{font-family:MicrosoftYaHei!important} */
.nopad{padding:0}

/* 左侧菜单栏 */
.left_nav{width:200px;background-color:#2A2F3B;position:fixed;height:100%;top:0;padding-top:70px;overflow:auto}
.left_nav .title,.left_nav .content{height:39px;line-height:39px;cursor:pointer}
.left_nav .title{border-bottom:2px solid #2A2F3B;padding-left:50px;color:#778088;font-weight:bold;font-size:16px;background-color:#262B37;position:relative}

.left_nav .title .title_icon{width:20px;height:100%;background:url(../images/ico_aright.png) no-repeat center center/12px 15px;transition:all .2s;position:absolute;right:12px}
.left_nav .content{padding-left:76px;color:#778088;font-size:14px;position:relative}
.left_nav .content_active:not(.title_m_home){background:-webkit-linear-gradient(left,rgba(111,94,220,.15), rgba(96,174,246,.15));background:-o-linear-gradient(right,rgba(111,94,220,.15), rgba(96,174,246,.15));background:-moz-linear-gradient(right,rgba(111,94,220,.15), rgba(96,174,246,.15));background:linear-gradient(to right,rgba(111,94,220,.15), rgba(96,174,246,.15));color:rgb(96,174,246);font-weight:bold}
.left_nav .content_active.title_m_home .bak{position:absolute;width:100%;height:100%;left:0;top:0;background:-webkit-linear-gradient(left,rgba(111,94,220,.15), rgba(96,174,246,.15));background:-o-linear-gradient(right,rgba(111,94,220,.15), rgba(96,174,246,.15));background:-moz-linear-gradient(right,rgba(111,94,220,.15), rgba(96,174,246,.15));background:linear-gradient(to right,rgba(111,94,220,.15), rgba(96,174,246,.15));}
.left_nav .content_container{display:none}
.left_nav::-webkit-scrollbar{display:none}
.left_nav .iconfont{color:#778088;margin-right:10px;font-size:19px}
.m_content{margin-left:15rem}

/* 顶部 */
.head{height:70px;padding-left:200px;width:100%;position:fixed;top:0px;background:#fff;z-index:1;-moz-box-shadow:0px 8px 8px rgba(42,47,59,0.1);box-shadow:0px 8px 8px rgba(42,47,59,0.1);}

/* 右侧菜单 */
.right_nav{background-color:rgba(255,255,255,0.8);margin-left:200px;width:100%;top:70px;position:fixed;background:#fff;height:71px;white-space:nowrap;overflow:auto;-moz-box-shadow:0px 3px 8px rgba(42,47,59,0.05);box-shadow:0px 3px 8px rgba(42,47,59,0.05);}
.right_nav_cell:after{content: '';position: absolute;width: 19px;height: 19px;right: -9px;top: -9px;border-radius: 19px;background-color: white;}
.right_nav_cell:link,.right_nav_cell:visited,.right_nav_cell:hover,.right_nav_cell:active{color:#838383 !important}
.right_nav .iconfont{color:#c8cace;font-size:19px;z-index:2}
.right_nav::-webkit-scrollbar{display:none}
.right_nav_cell{padding:0;display:inline-block;vertical-align:middle;margin-top:18px;margin-bottom:18px;border:1px solid #c8cace;margin-left:10px;margin-right:10px;width:101px;height:35px;line-height:33px;color:#838383;text-align:center;font-size:14px;border-radius:5px;position:relative;cursor:pointer;-moz-box-shadow:0px 0px 20px rgba(200,202,206,0.6);box-shadow:0px 0px 20px rgba(200,202,206,0.6);}
.right_nav_cell_active{color:rgb(96,174,246);border-color:rgb(96,174,246);-moz-box-shadow:0px 0px 20px rgba(96,174,246,0.3);box-shadow:0px 0px 20px rgba(96,174,246,0.3);}
.right_nav_cell_active:link,.right_nav_cell_active:visited,.right_nav_cell_active:hover,.right_nav_cell_active:active{color:rgb(96,174,246) !important}
.right_nav_cell_active .right_nav_cell_close{color:rgb(96,174,246)}
.right_nav_cell_close{position:absolute;right:-9px;top:-9px;line-height:1;}

/* 提示框样式 */
.show_tip_cover{background-color:rgba(0,0,0,.7);z-index:99999;display:flex;display:-webkit-flex;position:fixed;left:0;right:0;top:0;bottom:0;}
.show_tip_frame{position:relative;margin:auto;width:320px;height:200px;background-color:white;border-radius:5px;}
.show_tip_frame_in{animation:show_tip_animation .3s;-webkit-animation:show_tip_animation .3s}
.show_tip_frame_logo{margin-top:10px;background:no-repeat center center/39px;height:60px}
.show_tip_frame_content{max-height:200px;overflow:auto;margin:5px 0 15px;line-height:28px;text-align:center;color:#4a4a4a;font-size:16px}
.show_tip_frame_close{position:relative;height:48px;line-height:48px;font-size:14px;text-align:center}
.show_tip_frame_close:after{content: "";display:block;position:absolute;top:0;left:-50%;width:200%;height: 1px;background: rgba(0,0,0,.2);-ms-transform: scale(0.5); /* IE 9 */-webkit-transform: scale(0.5); /* Safari */transform: scale(0.5); /* 标准语法 */}
.show_tip_frame_logo_warn{background-image:url(../images/warn.png)}
@keyframes show_tip_animation{
    from {top:20px;opacity:0}
    to {top:0;opacity:1}
}
@-webkit-keyframes show_tip_animation /*Safari and Chrome*/{
    from {top:20px;opacity:0}
    to {top:0;opacity:1}
}

/* loading样式 */
#loading_layer{position:absolute;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,.3);display:none}
.loading_div_outer,.loading_div_inner{width:130px;height:130px;border-radius:130px;border:15px solid;position:absolute;left:50%;top:50%;margin-left:-65px;margin-top:-65px;}
.loading_div_outer{position:relative;border-color:rgba(54,54,54,.3);animation:loading_animation 1.5s linear infinite normal;-webkit-animation:loading_animation 1.5s linear infinite normal;}
.loading_div_inner{position:absolute;clip:rect(0px,60px,200px,0px);border-color:rgba(139,0,0,.7)}
@keyframes loading_animation{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}
@-webkit-keyframes loading_animation /*Safari and Chrome*/{
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

/*模态框表单中下拉列表显示四个字*/
.modal-dialog .modal-body .area_select3{padding-left:0!important}
/* 更新于bootstrap */
.formControl {
    display: block;
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

/* 去掉地图的标注原点 */
/*.BMap_Marker,[unselectable="on"]{display:none}*/

/* 设置图片的初始样式 */
.img_up{width: 100px; height:100px; display: inline-block; background: url('../images/img_add.png')}
/*公共样式*/
.btnBox{margin:10px 0;margin-bottom:20px;}
.alginRight{line-height:50px;text-align:right;}
    /*弹层*/
    .hptczp{
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        background:rgba(0,0,0,0.5);
        z-index: 999;
        opacity:0.3;
    }
    .hptczp_content{
        width: 360px;
        height: 240px;
        background: #fff;
        z-index: 9999;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -120px;
        background: #FFFFFF;
        border-radius: 4px;
      }
      .hptczp_contentTextarea{
          height:260px;margin-top:-130px;
      }
      .hptczp_content .hptczp_header{
          width:100%;
          height: 50px;
          font-size:16px;
          /* background: #DFE9F6; */
          padding-left: 20px;
          padding-right: 20px;
        }
        .hptczp_content .hptczp_header span{
            display: inline-block;
            line-height: 50px;
        }
        .hptczp_content .hptczp_header span.iconfont{color:#999;font-size:13px;}
        .hptczp_content .hptczp_body{
          padding-left: 20px;
          padding-right: 20px;
          background: #FFFFFF;
          margin-top: 36px;
          text-align: center;
          height:66px;
        }
        .hptczp_contentTextarea .hptczp_body{
            padding-left: 20px;
            padding-right: 20px;
            background: #FFFFFF;
            margin-top: 10px;
            text-align: center;
            height:auto;
          }
        .hptczp_content .hptczp_body h5{
            line-height: 24px;font-size:18px;
        }
        .hptczp_content .hptczp_body p{
            line-height: 24px;font-size:13px;color:#666;
        }
        .hptczp_content .hptczp_body textarea{
            width: 100%;
            height: 110px;
            border: 1px solid #E5E5E5;
            padding:5px 10px;
        }
        .hptczp_content .hptczp_footer{
            /* height: 80px; */
            /* padding-top: 10px; */
            text-align: center;margin:30px auto;
            /* padding-left: 50%; */
        }
        .hptczp_content .hptczp_footer .cancel {
            /* margin-left: -110px; */
        /* background: #0086FF; */
        }
        .hptczp_content .hptczp_footer .save {
            margin-left:20px;
        /* background: #FFF;
        border: 1px solid #E5E5E5;
        color: #444; */
        }